
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: D-DIN;
    overflow-x: hidden;
}

.bold{
    font-family: D-DIN-Bold;
}

h2{
    font-size: 30px;
}

/* ----------------------  Nav bar ----------------------  */

nav{
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    z-index: 100;
}

/* ---------------------- First section ---------------------- */

.section-one{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.logo{
    font-family: D-DIN;
    font-size: 30px;
    color: white;
}

.button-menu{
    font-family: D-DIN;
}

/* Title */

h1{
    color: white;
    font-family: "D-DIN-Bold";
    font-size: 100px;
}

/* Side bar on the top */

.sidebar {
    height: 30vh;
    width: 0px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

/* ---------------------- Seconde section ---------------------- */

.section-tow{
    height: 100vh;
    whidth: 100vw;
    background-color: black;
    position: relative;
    z-index: 0;
}

.presentation-picture{
    width: 30vw;
    height: auto;
    position: absolute;
    left: 20%;
    top: 50%;
    z-index: 1;
    transition-duration: 50ms;
}

.presentation-text{
    position: absolute;
    left: 45%;
    top: 5%;
    width: 40vw;
    font-size: 22px;
    z-index: 2;
}

/* ---------------------- project section ---------------------- */

.section-three{
    height: auto;
    min-height: 100vh;
    whidth: 100vw;
    background-color: black;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0 0 150px 0;
}

svg{
    width: 100vw;
    height: 100vh;
    border: solid 1px red;
}

.line-project{
    height: 120%;
    width: 2px;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50%;
}

/* container of number and information on the project */
.container-project{
    position: relative;
    height: 500px;
    width: 55vw;
    margin-top: 200px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* project guidlines */
.project{
    height: 400px;
    width: 50vw;
    background-color: gray;
    overflow: hidden;
    position: relative;
}

.left{
    margin-left: 30%;
}

.right{
    margin-right: 30%;
}


/* image of the project */

.image-project {
    width: 100%;
    height: auto;
    z-index: 0;
}

/* over project */

.overlay-project{
    width: 0%;
    height: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition-duration: 500ms;
    padding: 0px;
}

.name-project{

}

.description-project{

}

.know-more{

}

/* number of the project */

.number-project-left{
    position: absolute;
    font-size: 150px;
    top: -20px;
    left: 0px;
    z-index: 100;
    text-shadow: 2px 2px 8px black;
}

.number-project-right{
    position: absolute;
    font-size: 150px;
    top: -20px;
    right: 0px;
    z-index: 10;
    text-shadow: 2px 2px 8px black;
}



/* ---------------------- four section ---------------------- */

.section-four{
    height: 100vh;
    whidth: 100vw;
    background-color: black;
    position: relative;
    z-index: 0;
}
