
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: D-DIN;
    overflow-x: hidden;
    text-decoration: none;
}

.bold{
    font-family: D-DIN-Bold;
}

h2{
    font-size: 30px;
}

.htmlElement{
    color: #eb2f06;
}

.class{
    color: #fa983a;
}

.textclass{
    color: #38ada9;
}

.in{
    margin-left: 40px;
}

/* ----------------------  Nav bar ----------------------  */

nav{
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px 30px 30px;
    z-index: 100;
}

.button-menu{
    cursor: pointer;
    transform: rotate(45deg);
    height: 35px;
    width: 35px;
    border-top: 3px solid #5918df;
    border-right: 3px solid #5918df;
    animation: menuAnimation 1s linear;
    transition-duration: 500ms;
}

.button-menu:hover{
    transition-duration: 500ms;
    /* transform: rotate(225deg); */
    margin-right: 10px;
}
/* ---------------------- First section ---------------------- */

.section-one{
    height: 100vh;
    width: 100vw;
    background-color: #1a1527;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.logo-top{
    font-size: 30px;
    color: white;
}

/* Title */

h1{
    color: #eb2f06;
    font-family: "D-DIN-Bold";
    font-size: 100px;
    /* margin-top: 40vh; */
}

/* Side bar on the top */

.sidebar {
    height: 0vh;
    border-left: 2px solid #3c6382;
    transition-duration: 800ms;
    transition-delay: 500ms;
    font-size: 30px;
}

/* ---------------------- project section ---------------------- */

.section-two{
    height: auto;
    min-height: 100vh;
    whidth: 100vw;
   background-image: linear-gradient(-180deg,#1a1527,#0e0c16 88%,#0e0c16 99%);
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0 0 150px 0;
}

.maxTitle{
    position: absolute;
    top: 5vh;
    left: 5vw;
    font-size: 100px;
    color: #221d35;
    opacity: 0.5;
}

.line-project{
    height: 120%;
    border-left: 2px solid #5918df;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50%;
    margin-top: 20vh;
}

/* container of number and information on the project */
.container-project{
    position: relative;
    height: 500px;
    width: 55vw;
    margin-top: 130px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* project guidlines */
.project{
    height: 450px;
    width: 50vw;
    background-color: gray;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,.45);
}

.left{
    margin-left: 30%;
    transition-duration: 500ms;
}

.right{
    margin-right: 30%;
    transition-duration: 500ms;
}


/* image of the project */

.image-project {
    width: 100%;
    height: auto;
    z-index: 0;
}

/* over project */

.overlay-project{
    width: 0%;
    height: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition-duration: 500ms;
    padding: 0px;
}

.name-project{
    font-size: 60px;
    margin-bottom: 6%;
    opacity: 0;
    transition-delay: 300ms;
    transition-duration: 500ms;
}

.description-project{
    font-size: 20px;
    margin-bottom: 6%;
    opacity: 0;
    transition-delay: 600ms;
    transition-duration: 500ms;

}

.know-more{
    opacity: 0;
    transition-delay: 800ms;
    transition-duration: 500ms;
    margin: 40px 0px 0px 0px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    background: linear-gradient(90deg, #fa983a 20%, #eb2f06);
    position: absolute;
    right: 70px;
    bottom: 70px;
}

/* number of the project */

.number-project-left{
    position: absolute;
    font-size: 150px;
    top: -20px;
    left: 0px;
    z-index: 100;
    text-shadow: 9px 9px 0px #0a3d62;
    transition-duration: 500ms;
    color: #eb2f06;
}

.number-project-right{
    position: absolute;
    font-size: 150px;
    top: -20px;
    right: 0px;
    z-index: 100;
    text-shadow: 9px 9px 0px #0a3d62;
    transition-duration: 500ms;
    color: #eb2f06;
}

.margin{
    margin-bottom: 10vh;
}

.seeMore{
    position: absolute;
    right: 10vw;
    bottom: 10vh;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    background: linear-gradient(90deg, #fa983a 20%, #eb2f06);
}

/* ---------------------- four section ---------------------- */

.section-four{
    height: 100vh;
    whidth: 100vw;
    /* background-color: #0c2461; */
    position: relative;
    z-index: 0;
    background-color: #14121c;
    box-shadow: 0px -4px 36px -13px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* design the editor */

.editor{
    height: 80%;
    width: 50%;
    margin-left: 10%;
    border-left: solid 2px #5918df;
    padding: 20px 20px 20px 40px;
}

.title{
    font-size: 28px;
    margin-bottom: 10px;
    color: #24e33a;
}

.containerLogo{
    height: 27vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
}

.designLogo{
    width: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 5vw;
    position: relative;
}
.designLogoSocity{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 5vw;
    position: relative;
}

.logo{
    height: 100px;
    filter: opacity(0.5);
}

.logoName{
    font-size: 23px;
    margin-top: 0vh;
    opacity: 0;
    transition-duration: 500ms;
    color: #e3244c;
}

.logoSocity{
    filter: opacity(0.5);
}

.decathlon{
    width: 300px;
}

/* test about my self */

.aboutMySelf{
    height: 80%;
    width: 35%;
    padding: 20px 70px 20px 40px;
}

.presentationText{
    font-size: 22px;
    line-height: 35px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-bottom: 5vh;
}

/* ----------------------  footer ----------------------  */

footer{
    height: 50vh;
    width: 100vw;
    background-color: #1a1527;
    display: flex;
    flex-direction: row;
    align-items: center;;
    justify-content: space-between;
}

.titlefooter{
    font-size: 25px;
    color: #24e33a;
}

/* left */

.footerLeft{
    height: 80%;
    width: 50%;
    padding: 20px 0px 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    font-size: 20px;
}

.link > svg{
    width: 22px;
    margin-right: 10px;
    fill: #24e33a;
}
.svgmargin{
    margin-top: -5px;
}

/* right */

.footerRight{
    border-left: solid 2px #5918df;
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactMe{
    font-size: 25px;
    background: linear-gradient(90deg, #fa983a, #eb2f06, #54a0ff, #5f27cd, #10ac84, #48dbfb,  #ff9f43, #f368e0, #ee5253, #5f27cd);
    background-size: 2000% 2000%;
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
    box-shadow: 4px 4px 36px -13px rgba(0,0,0,0.75);
    animation: changeColor 20s infinite linear;
    transition-duration: 200ms;
}

@keyframes changeColor {
    0%{
        background-position:0% 50%
    }
    50%{
        background-position:100% 50%
    }
    100%{
        background-position:0% 50%
    }
}




